aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.10
colorama==0.4.4
frozenlist==1.2.0
fudge==1.1.1
halo==0.0.31
idna==3.3
log-symbols==0.0.14
multidict==5.2.0
mutagen==1.45.1
prompt-toolkit==3.0.24
requests==2.27.1
simplejson==3.17.6
six==1.16.0
soundcloud==0.5.0
soundcloud-lib==0.5.4
soupsieve==2.3.1
spinners==0.0.24
termcolor==1.1.0
tqdm==4.62.3
urllib3==1.26.8
wcwidth==0.2.5
yarl==1.7.2
